@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,600;0,700;1,600;1,700&display=swap");

.header-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  max-width: 620px;
  margin: 0 auto;
  text-align: left;
}

.header-title {
  font-family: "Lora", serif;

  font-weight: 900;
}

.header-date {
  margin-left: 0;
  font-size: 15px;
}
